code {
    font-family: Consolas, "courier new";
    background-color: var(--color-background-menu);
    padding: 2px;
    font-size: 105%;
    color: var(--color-text-menu);
}

h1 {
    color: var(--color-text);
    padding-top: 1%;
}

section>h2 {
    color: var(--color-text);
    padding-bottom: 1%;
    padding-top: 1%;
}

.lista{
    text-align: left;
    color: var(--color-text);
    font-size: var(--font-size-text);
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

p {
    text-align: justify;
    color: var(--color-text);
    font-size: var(--font-size-text);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.collapsible {
    background: linear-gradient(to right, rgba(57, 15, 0, 0.9), rgba(6, 4, 5, 0.2));
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background: linear-gradient(to right, rgb(37, 10, 1), rgba(6, 4, 5, 0.6));
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 0.8);
    text-align: center;
}

.content>img {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

audio{
    width: 96%;
    height: 20px;
    margin-top: 30px;
    outline: none;
    filter: invert(100%);
    opacity: 90%;
}

audio::-webkit-media-controls-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    text-align: right;
    bottom: auto;
    height: 20px;
    border-radius: 5px;
    background: #c6f0ff;
    transition: opacity 0.3s;
}