code {
    font-family: Consolas,"courier new";
    background-color: var(--color-background-menu);
    padding: 2px;
    font-size: 105%;
    color: var(--color-text-menu);
}

.titlePage{
    color: var(--color-text);
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: var(--font-size-title-big);
    text-align: center;
}

.topico{
    color: var(--color-text);
    padding-left: 2%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    font-size: var(--font-size-title);
    text-align: left;
}

p{
    text-align: justify;
    color: var(--color-text);
    font-size: var(--font-size-text);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-indent: 3%;
}

.image{
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

label{
    font-size: var(--font-size-text);
    color: var(--color-text);
}

.labelImage{
    margin: 3% 10% 3% 10%;
    text-align: center;
}

.list{
    color: var(--color-text);
    padding-top: 1%;
    margin-left: 2%;
    font-size: var(--font-size-text);
    margin-bottom: 3%;
}

dd{
    margin-left: 5%;
    white-space: nowrap;
    margin-top: 1%;
}

dt{
    text-indent: 3%;
}

.imageSchema{
    width: 50%;
}

.imageCode{
    width: 70%;
}

@media only screen and (max-width: 650px) {
    .image{
        width: 100%;
    }
    .imageSchema{
        width: 100%;
    }
    
    .imageCode{
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .boxImagePratic{
        display: flex; 
        justify-content: center;
    }
}