body {}

.pPagHome>h1 {
    color: var(--color-text);
    text-align: center;
    padding: 20px 0 10px 0;
}

.pPagHome {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 450px;
}

p {
    color: var(--color-text);
    font-size: var(--font-size-text);
    text-align: justify;
    padding: 5px 0px 5px 0px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5em;
}

h1 {
    vertical-align: top;
    font-size: var(--font-size-title);
}

.alignEixoY {
    position: relative;
    transform: translateY(calc( 100vh * 0.1));
}

ident{
    margin-left: 3%;
}

.buttonSide{
    height: 100%;
}