* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: VALORANT;
    src: url(../fonts/VALORANT-Regular.ttf)
}

:root {
    --color-background-menu: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    --color-text-menu: #c5c3c6;
    --color-text: #ccc5b9;
    --font-size-text: calc(0.625rem + 0.5vw);
    --font-size-title: calc(1rem + 0.5vw);
    --font-size-title-big: calc(0.5rem + 2vw);
}

.clear {
    clear: both;
}

body {
    background-color: #252422;
    height: 100vh;
    width: 100vw;
    padding-left: 40px;
}

header {
    height: 55px !important;
    background-image: var(--color-background-menu);
    text-align: center;
    padding-top: 5px;
}

h2 {
    margin: 0 !important;
}

.logo {
    color: var(--color-text-menu);
    font-size: 2rem !important;
    font-family: VALORANT;
    padding-top: 5px !important;
}

.separador {
    border-top: solid var(--color-text-menu) 1px;
    width: 70%;
    margin: 0 auto;
    background-image: var(--color-background-menu);
}

.barSection {
    border-right: 1px solid var(--color-text-menu);
}

footer {
    height: 4rem;
}

section {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
    .logo {
        font-size: 2em;
    }
}