.video-container {
    overflow: hidden;
    position: relative;
    width:75%;
    margin: 0 auto;
    margin-top: 15px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tituloVideo, .descricao{
    color: var(--color-text);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: var(--font-size-title);
}

.descricao{
    text-indent: 3%;
    font-size: var(--font-size-text);
    text-align: justify;
    padding: 5px 0px 5px 0px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5em;
    margin-top: 4%;
}

@media only screen and (max-width: 650px) {
    .video-container {
        width:100%;
    }
}